.home-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_name{
        width: 100%;
        text-align: end;
    }
    &_p{

    }
    &_form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.footer{
    text-align: center;
}