:root {
  font-family: Sarpanch, Arial, sans-serif;
  line-height: 1.5;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

#root {
  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
  text-align: center;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #052d50;
}

label {
  font-size: 1rem;
}

input {
  height: 45px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px 0;
  padding: 0 0 0 2px;
  font-size: 1rem;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  margin: 0.5em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #052d50;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.delete-button,
.edit-button {
  border-radius: none;
  color: transparent;
  border: none;
  margin: 0.5em;
  padding: 0;
  font-size: 0em;
  font-weight: none;
  font-family: inherit;
  background-color: transparent;
  transition: none;
}
.delete-button:focus,
.delete-button:focus-visible,
.edit-button:focus,
.edit-button:focus-visible {
  outline: none;
}

.login_footer-text {
  text-align: center;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }
